Imports

In [194]:
#import libaries
import pandas as pd

In [195]:
#load the dataset
sales = pd.read_excel(r"C:\Users\bashi\Documents\Task\2.-Badly-Structured-Sales-Data-2.xlsx")

Inspect the dataset

In [196]:
sales.head()

,Ship Mode,First Class,Unnamed: 2,Unnamed: 3,Same Day,Unnamed: 5,Unnamed: 6,Second Class,Unnamed: 8,Unnamed: 9,Standard Class,Unnamed: 11,Unnamed: 12
0,Segment,Consumer,Corporate,Home Office,Consumer,Corporate,Home Office,Consumer,Corporate,Home Office,Consumer,Corporate,Home Office
1,Order Date,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2013-03-14 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,91.056
3,2013-12-16 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,129.44,NaN,NaN,NaN,NaN,NaN
4,2013-06-02 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,605.47,NaN,NaN

In [197]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 824 entries, 0 to 823
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Ship Mode       824 non-null    object
 1   First Class     73 non-null     object
 2   Unnamed: 2      41 non-null     object
 3   Unnamed: 3      13 non-null     object
 4   Same Day        29 non-null     object
 5   Unnamed: 5      6 non-null      object
 6   Unnamed: 6      7 non-null      object
 7   Second Class    92 non-null     object
 8   Unnamed: 8      51 non-null     object
 9   Unnamed: 9      24 non-null     object
 10  Standard Class  254 non-null    object
 11  Unnamed: 11     153 non-null    object
 12  Unnamed: 12     91 non-null     object
dtypes: object(13)
memory usage: 83.8+ KB

Rename columns

In [198]:
sales = sales.rename(columns={'Ship Mode': 'Ship Date', 'First Class': 'FC_Consumer', 'Unnamed: 2': 'FC_Corporate', 'Unnamed: 3': 'FC_Home Office', 'Same Day': 'SD_Consumer', 'Unnamed: 5': 'SD_Corporate', 'Unnamed: 6': 'SD_Home Office', 'Second Class': 'SC_Consumer', 'Unnamed: 8': 'SC_Corporate', 'Unnamed: 9': 'SC_Home Office', 'Standard Class': 'STC_Consumer', 'Unnamed: 11': 'STC_Corporate', 'Unnamed: 12': 'STC_Home Office'})

In [199]:
#to confirm the columns have been renamed
sales.head()

,Ship Date,FC_Consumer,FC_Corporate,FC_Home Office,SD_Consumer,SD_Corporate,SD_Home Office,SC_Consumer,SC_Corporate,SC_Home Office,STC_Consumer,STC_Corporate,STC_Home Office
0,Segment,Consumer,Corporate,Home Office,Consumer,Corporate,Home Office,Consumer,Corporate,Home Office,Consumer,Corporate,Home Office
1,Order Date,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2013-03-14 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,91.056
3,2013-12-16 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,129.44,NaN,NaN,NaN,NaN,NaN
4,2013-06-02 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,605.47,NaN,NaN

In [200]:
#remove first 2 rows
sales = sales.drop(sales.index[0:2])

In [201]:
#Change dates to datetime
sales['Ship Date'] = pd.to_datetime(sales['Ship Date'])

In [202]:
#set date as index
sales.set_index('Ship Date', inplace=True)

In [203]:
#To confirm
sales.head()

,FC_Consumer,FC_Corporate,FC_Home Office,SD_Consumer,SD_Corporate,SD_Home Office,SC_Consumer,SC_Corporate,SC_Home Office,STC_Consumer,STC_Corporate,STC_Home Office
Ship Date,,,,,,,,,,,,
2013-03-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,91.056
2013-12-16,NaN,NaN,NaN,NaN,NaN,NaN,129.44,NaN,NaN,NaN,NaN,NaN
2013-06-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,605.47,NaN,NaN
2013-10-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,788.86,NaN
2013-08-27,NaN,NaN,NaN,NaN,NaN,NaN,13.36,NaN,NaN,NaN,NaN,NaN

In [ ]:
#Fill missing values with 0 (for days without orders)
sales.fillna(0, inplace=True)

C:\Users\bashi\AppData\Local\Temp\ipykernel_12252\22727443.py:2: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  sales.fillna(0, inplace=True)

In [205]:
#decriptive statistics
sales.describe().T

,count,mean,std,min,25%,50%,75%,max
FC_Consumer,822.0,25.306780,153.703360,0.0,0.0,0.0,0.000,2298.900
FC_Corporate,822.0,25.295142,201.879573,0.0,0.0,0.0,0.000,3236.410
FC_Home Office,822.0,9.413365,136.290052,0.0,0.0,0.0,0.000,2884.370
SD_Consumer,822.0,9.893442,86.155933,0.0,0.0,0.0,0.000,1363.960
SD_Corporate,822.0,12.052686,287.215033,0.0,0.0,0.0,0.000,8167.420
SD_Home Office,822.0,3.622209,74.131421,0.0,0.0,0.0,0.000,2075.510
SC_Consumer,822.0,60.491794,420.374826,0.0,0.0,0.0,0.000,8805.040
SC_Corporate,822.0,42.874977,290.666366,0.0,0.0,0.0,0.000,4251.920
SC_Home Office,822.0,10.694802,90.134638,0.0,0.0,0.0,0.000,1166.920
STC_Consumer,822.0,142.241040,470.201315,0.0,0.0,0.0,27.308,6412.770
STC_Corporate,822.0,68.056918,322.754175,0.0,0.0,0.0,0.000,4317.300
STC_Home Office,822.0,66.604176,853.186119,0.0,0.0,0.0,0.000,23661.228